workflows/n8n_unified_omnichannel_v2.json
{
    "name": "Confort Prestige - Unified Agent (Final)",
    "nodes": [
        {
            "parameters": {
                "path": "voice-webhook",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "webhook-voice",
            "name": "Retell Webhook (Voice)"
        },
        {
            "parameters": {
                "jsCode": "// Extract Voice Data\nconst call = $input.all()[0].json;\n\n// Basic Scoring Logic\nlet score = 10;\nif (call.transcript && call.transcript.includes('homeowner')) score += 30;\nif (call.call_analysis && call.call_analysis.user_sentiment === 'Positive') score += 20;\n\nreturn {\n  call_id: call.call_id,\n  transcript: call.transcript || '',\n  from_number: call.from_number,\n  lead_score: score,\n  summary: call.call_analysis?.call_summary || 'No summary',\n  status: score > 50 ? 'Qualified' : 'New',\n  cost: call.cost_metadata?.total_cost || 0,\n  duration_seconds: call.duration_ms ? call.duration_ms / 1000 : 0,\n  sentiment: call.call_analysis?.user_sentiment || 'Neutral',\n  disconnection_reason: call.disconnection_reason || 'unknown'\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                250,
                0
            ],
            "id": "process-voice",
            "name": "Process Voice Data"
        },
        {
            "parameters": {
                "tableId": "calls",
                "operation": "insert",
                "columns": "call_id, transcript, caller_number, lead_score, summary, status, cost, duration_seconds, sentiment, disconnection_reason"
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                500,
                0
            ],
            "id": "save-voice",
            "name": "Save to Supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "YOUR_SUPABASE_ID",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "updates": [
                    "message-received"
                ],
                "options": {}
            },
            "type": "n8n-nodes-base.twilioTrigger",
            "typeVersion": 1,
            "position": [
                0,
                300
            ],
            "id": "trigger-sms",
            "name": "Twilio Trigger (SMS)",
            "credentials": {
                "twilioApi": {
                    "id": "YOUR_TWILIO_ID",
                    "name": "Twilio account"
                }
            }
        },
        {
            "parameters": {
                "resource": "chat",
                "prompt": {
                    "messages": [
                        {
                            "role": "system",
                            "content": "You are Isabelle, the virtual assistant for Confort Prestige. Your goal is to qualify leads for HVAC and Doors & Windows.\n\nSTRICT RULES:\n1. Opening: 'Hello, this is Isabelle from Confort Prestige. Is your request related to HVAC or Doors & Windows?'\n2. Consnent: Ask for 2-minute qualification consent.\n3. Price Anchoring: HVAC Wall-mounted is $3000-$7000. Central is $10k+. \n4. NO BOOKING: Never book. Say someone will contact them."
                        },
                        {
                            "role": "user",
                            "content": "={{$json.Body}}"
                        }
                    ]
                },
                "model": "gpt-4"
            },
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "openai-agent",
            "name": "Isabelle (AI Brain)",
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "operation": "send",
                "to": "={{$node[\"Twilio Trigger (SMS)\"].json.From}}",
                "from": "+18707298115",
                "message": "={{$json.message.content}}"
            },
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                500,
                300
            ],
            "id": "reply-sms",
            "name": "Send SMS Reply",
            "credentials": {
                "twilioApi": {
                    "id": "YOUR_TWILIO_ID",
                    "name": "Twilio account"
                }
            }
        }
    ],
    "connections": {
        "Retell Webhook (Voice)": {
            "main": [
                [
                    {
                        "node": "Process Voice Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Voice Data": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Twilio Trigger (SMS)": {
            "main": [
                [
                    {
                        "node": "Isabelle (AI Brain)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Isabelle (AI Brain)": {
            "main": [
                [
                    {
                        "node": "Send SMS Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}